.notification {
    opacity: 0;
    transform: translate(-100px, -20px)  ;
   
    transition: opacity 2s ease-out, transform 0.5s ease-out;
}

.notification.show {
    opacity: 1;
    transform: translateY(0);
}

.notification.hide {
    opacity: 0;
    transform: translateY(-20px);
}